@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

$colorPrimario: #4f46cf;
$fontPrimaria: "DM Serif Text", serif;
$fontTexto: "DM Serif Text", serif;
$colorHover: #17144d;
$fondoClaro: rgb(236, 236, 236);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  min-height: 100hv;
  max-width: 100%;
}

body {
  background-color: $fondoClaro;
  min-height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 8%;
  padding: 5px;
  margin-bottom: 8px;

  .headerIzquierda {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;

    h1 {
      color: $colorPrimario;
      font-weight: 900;
      font-size: 2em;
      font-family: $fontPrimaria ;
    }

    .nav-bar {
      width: 100%;

      .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;

        .nav-item {
          list-style: none;
          margin: 2px 26px 4px 4px;

          .nav-link {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $colorPrimario;
            text-align: center;
            font-size: 0.9em;
            font-family: $fontTexto;
          }
        }
      }
    }
  }

  .headerDerecha {
    .btnCarrito {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      .cuadroNotificacion {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: #369743;
        top: 7px;
        right: 22px;
        border-radius: 50%;

        #notificaciones {
          font-size: 0.9em;
          text-decoration: none;
          font-family: $fontTexto;
          color: white;
        }
      }

      .imgCarrito {
        .icon {
          width: 30px;
          height: 30px;
        }
      }

      .modal {
        top: 52px;
        position: fixed;
        width: 98%;
        min-height: 100%;
        border-radius: 10px;
        padding: 5px;
        font-family: $fontTexto;
        transform: translateX(100%);
        transition-duration: 0.8s;

        .carritoProductos {
          width: 100%;
          overflow: scroll;

          .products {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 90px;
            margin: 5px;
            border-bottom: 1px solid black;
            padding: 10px;
            font-size: 18px;

            img {
              width: 100%;
              height: 100%;
            }

            .product {
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              padding: 10px;

              .infoProduct {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .descriptionProduct {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  align-items: center;

                  .nombre {
                    padding: 5px;
                  }

                  .precioProductModal {
                    padding: 10px;
                  }

                  .btnAñadir {
                    width: 15px;
                    border-radius: 5px;
                    background-color: $colorPrimario;
                    color: white;
                  }
                }
              }

              .cantProduct {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .spanDelete {
                  width: 80px;
                  margin: 0px 0px 0px 14px;

                  .deleteProduct {
                    width: 100%;
                    height: 20px;
                    background-color: $colorPrimario;
                    color: white;

                  }
                }
              }
            }
          }
        }

        .divTotal {
          margin: 10px;
          text-align: center;

          .total {
            font-family: $fontPrimaria;
            font-weight: bold;
            font-size: 18px;
          }
        }

        .divPagar {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          .linkPay {
            text-decoration: none;
            color: white;

            .btnPagar {
              margin: 25px 0px 10px 100px;
              width: 100px;
              height: 30px;
              border-radius: 5px;
              margin: 0px 10px;
              background-color: $colorPrimario;
              color: white;

            }
          }

        }

      }

      .modalVisible {
        position: absolute;
        transform: translateX(0);
        transition-duration: 0.8s;
        background-color: rgba(255, 255, 255, 0.952);
        font-family: $fontTexto;
        font-weight: 700;
        top: 52px;
        right: 4px;
      }

      .closeBtn {
        width: 24px;
        position: absolute;
        top: 2px;
        right: 10px;
        background-color: $colorPrimario;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        cursor: pointer;
        margin-bottom: 30px;
      }
    }
  }
}

main {
  padding: 10px;
  width: 100%;
  height: 100%;

  #section-home {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .presentation {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-top: 20px;
    }

    .eslogan {
      h2 {
        margin-top: 5px;
        color: $colorPrimario;
      }

      .segundoEslogan {
        margin-left: 170px;
      }
    }

    .btn-products {
      margin: 10px 0px;

      button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: $colorPrimario;
        color: white;

        a {
          width: 100%;
          height: 100%;
        }
      }
    }

    img {
      height: 360px;
      width: 100%;
      border-radius: 5px;
      border: 3px solid $colorPrimario;
      margin-bottom: 20px;
    }

    .comentario-card {
      margin-bottom: 10px;
      border: 1px solid $colorPrimario;
      padding: 5px;
      border-radius: 5px;
      background-color: #4f46cf2c;

      p {
        padding: 10px;
      }
    }
  }

  #section-cards {
    display: flex;
    justify-content: center;

    .cards-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 1;
      row-gap: 2px;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 1px 1px 2px rgba(68, 68, 68, 0.575), -1px -1px 2px rgba(68, 68, 68, 0.575);
      width: 100%;

      .card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: $fontTexto;
        color: white;
        background-color: $colorPrimario;
        border-radius: 2px;

        .detailProducto {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          height: 100%;
          font-family: $fontTexto;
          overflow: hidden;
          word-break: break-all;
          padding: 5px;

          .card__image {
            width: 50%;
            height: 200px;
            margin-right: 5px;
            display: flex;

            .imagenProductos {
              width: 100%;
              border-radius: 5px;
            }
          }

          .card__content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 50%;
            height: 100%;

            .card__description {
              .nombreProducto {
                text-transform: capitalize;
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 600;
              }

              .productDescription {
                margin-bottom: 15px;
                font-size: 16px;
              }

              .precio {
                font-size: 22px;
                font-weight: 600;
              }
            }

            button {
              width: 100px;
              height: 30px;
              border-radius: 8px;
              font-family: $fontTexto;
              align-self: center;
            }
          }
        }
      }
    }
  }

  #section-contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 42px;
      font-family: $fontPrimaria;
    }

    .formContacto {
      width: 95%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border: 2px solid $colorPrimario;
      padding: 8px;
      border-radius: 8px;

      div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 50%;

        label {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 10px;
          font-family: $fontPrimaria;
        }

        input,
        textarea {
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
          text-align: center;
          font-family: $fontPrimaria;
          font-size: 16px;
          padding: 8px;
          overflow: hidden;
          border-radius: 8px;
          border: 2px solid $colorPrimario;
          outline: none;

          &:focus {
            background-color: $colorPrimario;
            color: white;
          }
        }
      }

      button {
        width: 150px;
        height: 30px;
        border-radius: 8px;
        margin-top: 12px;
        background-color: $colorPrimario;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: $fontPrimaria;
      }
    }
  }

  #section-alta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 42px;
      font-family: $fontPrimaria;
    }

    .formAlta {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border: 2px solid $colorPrimario;
      padding: 8px;
      border-radius: 8px;

      div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 50%;

        label {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 10px;
          font-family: $fontPrimaria;
        }

        #archivo {
          display: none;
        }

        .labelArchivo {
          display: flex;
          padding: 8px;
          border: 2px solid black;
          width: 100%;
          height: 30px;
          border-radius: 8px;
          font-size: 16px;
          font-family: $fontPrimaria;
          text-align: center;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: $colorPrimario;
          font-weight: normal;
          margin-top: 8px;
        }

        input,
        textarea {
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
          text-align: center;
          font-family: $fontPrimaria;
          font-size: 16px;
          padding: 8px;
          overflow: hidden;
          border-radius: 8px;
          border: 2px solid $colorPrimario;
          outline: none;

          &:focus {
            background-color: $colorPrimario;
            color: white;
          }
        }


      }

      button {
        width: 150px;
        height: 30px;
        border-radius: 8px;
        margin-top: 12px;
        background-color: $colorPrimario;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: $fontPrimaria;
      }
    }
  }

  #sectionPayCart {
    .tittlePayCart {
      font-family: $fontTexto;
      color: $colorPrimario;
      margin-bottom: 10px;
    }

    .containerPayCart {

      .productPayCart {
        margin-left: 10px;
        padding: 0px;
        margin-top: 0px;

        .productNamePayCart {
          font-family: $fontTexto;
          margin: 0px;
          padding: 0px;
        }

        .descriptionProductPayCartContainer {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid black;
          padding: 5px;

          .imageProductPayCart {
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 5px;
          }

          .descriptionProductPayCart {
            display: flex;
            flex-flow: column nowrap;
            margin: 10px;

            p {
              margin: 5px;
              padding: 0px;
            }
          }

        }

      }

    }

    .payContainerCartPay {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .spanTotalCartPay {
        font-family: $fontPrimaria;
        color: $colorPrimario;
        margin-top: 10px;
        font-weight: 600;
      }

      .linkBtnPay {
        width: 150px;
        height: 30px;

        .btnPayCartPay {
          margin-top: 5px;
          width: 100%;
          height: 100%;
          background-color: $colorPrimario;
          color: white;
          border-radius: 5px;
        }
      }

    }
  }
}

footer {
  position: static;
  width: 100vw;
  bottom: 0;
  margin-top: 10px;
  padding: 10px 0px;
  text-align: center;
  color: white;
  background-color: $colorPrimario;
}

@media (min-width:1000px) and (max-width: 2000px) {
  header {
    height: auto;
    padding: 15px;

    .headerIzquierda {
      flex-flow: row nowrap;
      align-items: end;
      justify-content: center;
      flex: auto;

      h1 {
        font-size: 1.5cm;
        cursor: pointer;
      }

      .nav-bar {
        .nav-list {
          flex-flow: row nowrap;
          justify-content: space-around;

          .nav-item {
            .nav-link {
              font-size: 0.5cm;
            }
          }
        }
      }
    }

    .headerDerecha {
      .btnCarrito {
        .cuadroNotificacion {
          width: 30px;
          height: 30px;
          top: 20px;
          right: 35px;
        }

        .imgCarrito {
          .icon {
            width: 40px;
            height: 40px;
          }
        }

        .modal {
          top: 30px;
          width: 50%;

          .carritoProductos {
            .products {
              display: grid;
              grid-template-columns: 1fr 4fr;
              grid-template-rows: 90px;
              margin: 5px;
              border-bottom: 1px solid black;
              padding: 10px;
              font-size: 18px;

              img {
                width: 100%;
                height: 100%;
              }

              .product {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .infoProduct {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  align-items: center;

                  .descriptionProduct {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    .nombre {
                      padding: 5px;
                    }

                    .precioProductModal {
                      padding: 10px;
                    }

                    .btnAñadir {
                      width: 15px;
                      border-radius: 5px;
                      background-color: $colorPrimario;
                      color: white;
                    }
                  }
                }

                .cantProduct {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  align-items: center;

                  .spanDelete {
                    width: 80px;
                    margin: 0px 0px 0px 14px;

                    .deleteProduct {
                      width: 100%;
                      height: 20px;
                      background-color: $colorPrimario;
                      color: white;

                    }
                  }
                }
              }
            }
          }

          .divPagar {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            .linkPay {
              text-decoration: none;
              color: white;

              .btnPagar {
                width: 140px;
                height: 35px;
                font-size: 1em;
              }
            }
          }
        }

        .modalVisible {
          top: 30px;
        }
      }
    }
  }

  main {
    padding: 15px;
    width: 100%;
    height: 100%;

    #section-home {
      .presentation {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: baseline;
      }

      .eslogan {
        h2 {
          font-size: 1.5cm;
          margin: 15px;
        }

        .segundoEslogan {
          margin: 15px;
          font-size: 1.5cm;
        }
      }

      .btn-products {

        button {
          cursor: pointer;
          font-size: 0.7cm;
        }
      }

      img {
        margin-top: 30px;
        margin-left: 50px;
        height: 360px;
        width: 30%;
        border-radius: 5px;
        border: 3px solid $colorPrimario;
      }

      .comentarios {
        margin-top: 30px;
        position: absolute;
        right: 10%;
        top: 45%;
        width: 50%;

        .comentario-card {
          margin-bottom: 10px;
          border: 1px solid $colorPrimario;
          padding: 15px;
          border-radius: 5px;
          background-color: #4f46cf2c;

          p {
            padding: 10px;
          }
        }
      }

    }

    #section-cards {
      display: flex;
      justify-content: center;

      .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1;
        row-gap: 2px;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 1px 1px 2px rgba(68, 68, 68, 0.575), -1px -1px 2px rgba(68, 68, 68, 0.575);
        width: 100%;

        .card {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-family: $fontTexto;
          color: white;
          background-color: $colorPrimario;
          border-radius: 2px;

          .detailProducto {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            font-family: $fontTexto;
            overflow: hidden;
            word-break: break-all;
            padding: 5px;

            .card__image {
              width: 50%;
              height: 200px;
              margin-right: 5px;
              display: flex;

              .imagenProductos {
                width: 100%;
                border-radius: 5px;
              }
            }

            .card__content {
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-between;
              width: 50%;
              height: 100%;

              .card__description {
                .nombreProducto {
                  text-transform: capitalize;
                  font-size: 18px;
                  margin-bottom: 15px;
                  font-weight: 600;
                }

                .productDescription {
                  margin-bottom: 15px;
                  font-size: 16px;
                }

                .precio {
                  font-size: 22px;
                  font-weight: 600;
                }
              }

              button {
                width: 100px;
                height: 30px;
                border-radius: 8px;
                font-family: $fontTexto;
                align-self: center;
              }
            }
          }
        }
      }
    }

    #section-contact {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .formContacto {
        margin: 10px;
        width: 50%;
        padding: 50px;

        textarea {
          field-sizing: content;
          min-height: 150px;
        }
      }

      button {
        cursor: pointer;
      }
    }

    #section-alta {
      min-height: 100%;

      .formAlta {
        width: 50%;
      }
    }

    #sectionPayCart {
      .tittlePayCart {
        font-family: $fontTexto;
        color: $colorPrimario;
        margin-bottom: 10px;
      }

      .containerPayCart {

        .productPayCart {
          margin-left: 10px;
          padding: 0px;
          margin-top: 0px;

          .productNamePayCart {
            font-family: $fontTexto;
            margin: 0px;
            padding: 0px;
          }

          .descriptionProductPayCartContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid black;
            padding: 5px;

            .imageProductPayCart {
              width: 100px;
              height: 100px;
              border: 1px solid black;
              border-radius: 5px;
            }

            .descriptionProductPayCart {
              display: flex;
              flex-flow: column nowrap;
              margin: 10px;

              p {
                margin: 5px;
                padding: 0px;
              }
            }

          }

        }

      }

      .payContainerCartPay {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .spanTotalCartPay {
          font-family: $fontPrimaria;
          color: $colorPrimario;
          margin-top: 10px;
          font-weight: 600;
        }

        .linkBtnPay {
          width: 150px;
          height: 30px;

          .btnPayCartPay {
            margin-top: 5px;
            width: 100%;
            height: 100%;
            background-color: $colorPrimario;
            color: white;
            border-radius: 5px;
          }
        }

      }
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}